<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorator="index">
<head>
<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> 
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>

<div layout:fragment="content" class="noborder">


<table class="table table-bordered table-dark">
<thead>
<tr>
<th>numero</th>
<th>nom</th>
<th>prenom</th>
<th>nationalite</th>
<th>epoque</th>
<th>realisation</th>
</tr>
</thead>
<tbody >

<tr th:each="celebrite:${celebrites}" >

 <td th:text="${celebrite.numC}"></td>
<td th:text="${celebrite.nom}"></td>
<td th:text="${celebrite.prenom}" ></td>
<td th:text="${celebrite.nationalite}"></td>
<td th:text="${celebrite.epoque}"></td>
<td th:text="${celebrite.oeuvreDe}"></td>
</tr>
</tbody>
</table>

</div>

 <script th:replace="fragments :: scripts"></script>

</body>
</html>