<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorator="index">
<head>
<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> 
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div layout:fragment="content" class="noborder">

<form th:action="@{distance}" method="get">
<label>Monument 1</label>
<input type="text" name="codeMA"/>


<label>Monument 2</label>
<input type="text" name="codeMB" />


<input type="submit" value="calculer" />
</form>

<p th:text="${distance}"><p>


</div>

<script th:replace="fragments :: scripts"></script>

</body>
</html>