<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorator="navbar">
<head>
<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> 
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div layout:fragment="content" class="noborder">

<form th:action="@{/findMonument}" method="get">
	<label>Code monument</label>
	<input type="text" name="codeM" th:value="${codeM}" />
	<button type="submit" class="btn btn-dark">Chercher</button>
  </form>
  
  
 <table class="table table-bordered table-dark" th:if="${monument}">
<thead>
<tr>
<th>code monument</th>
<th>nom</th>
<th>proprietaire</th>
<th>type</th>
<th>longitude</th>
<th>latitude</th>
<th>localisation</th>
<th>celebrite</th>
<th>supprimer</th>
<th>modifier</th>
</tr>
</thead>
<tbody >

<tr  >
<td th:text="${monument.codeM }"></td>
<td th:text="${monument.nomM}"></td>
<td th:text="${monument.proprietaire }" ></td>
<td th:text="${monument.typeMonument }" ></td>
<td th:text="${monument.longitude}"></td>
<td th:text="${monument.latitude}"></td>
<td th:text="${monument.localisation}"></td>
<td th:text="${monument.celebriteS}"></td>
  
<td> <a onclick="return confirm('Etes vous sure ?')" th:href="@{/deleteLieu(codeInsee=${lieu.codeInsee})}">Supprimer</a></td>
<td><a th:href="@{editLieu/{codeInsee}(codeInsee=${lieu.codeInsee})}">Edit</a></td>
</tr>
</tbody>
</table>


</div>

<script th:replace="fragments :: scripts"></script>

</body>
</html>