<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> 
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
<form th:action="@{addDepartement}" th:object="${departement}" method="post">
<label>Departement:</label>
<input type="text" name="departement" th:field="*{dep}"/>

<label>Chef lieu:</label>
<input type="text" name="chefLieu" th:field="*{chefLieu}" />

<label>Nom de departement:</label>
<input type="text" name="nomDep" th:field="*{nomDep}" />

<label>Numero de region:</label>
<input type="text" name="numReg" th:field="*{numReg}"/>


<input type="submit" value="ajouter" />
<input type="reset" value="Reset" /> 
</form>

</body>
</html>