<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>JavaScript Quiz</title>
  <link rel="stylesheet" th:href="@{/css/index.css}"/>
  <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>

</head> 
<body>



    <div class="photo-container">
    
    <nav class="navbar navbar-expand-sm navbar-dark" data-id="web_navigation_bar">
        <a class="navbar-brand brand-name" href> APPTRAVEL</a>
       
        <div class="collapse navbar-collapse" id="web_navigation_bar_collapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" th:href="@{/}">HOME</a>
            
              <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown07XL" data-toggle="dropdown"
                aria-expanded="false" style="color: white;">  Departement</a>
              <div class="dropdown-menu" style="background-color:transparent"  aria-labelledby="dropdown07XL">
                <a class="dropdown-item" style="color: white;"th:href="@{/departements}"> Afficher</a>
                <a class="dropdown-item" style="color: white;"th:href="@{/findDepartement}" >Rechercher</a>
                <a class="dropdown-item" style="color: white;"th:href="@{/formDepartement}" >Ajouter</a>
              </div>
           </li>
           
           
           <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown07XL" data-toggle="dropdown"
                aria-expanded="false" style="color: white;">  Lieu</a>
              <div class="dropdown-menu" style="background-color:transparent"  aria-labelledby="dropdown07XL">
                <a class="dropdown-item" style="color: white;"th:href="@{/lieux}"> Afficher</a>
                <a class="dropdown-item" style="color: white;"th:href="@{/findLieu}" >Rechercher</a>
                <a class="dropdown-item" style="color: white;"th:href="@{/formLieu}" >Ajouter</a>
              </div>
           </li>
           
           
           
           <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown07XL" data-toggle="dropdown"
                aria-expanded="false" style="color: white;">  Monument</a>
              <div class="dropdown-menu" style="background-color:transparent"  aria-labelledby="dropdown07XL">
                <a class="dropdown-item" style="color: white;"th:href="@{/monuments}"> Afficher</a>
                <a class="dropdown-item" style="color: white;"th:href="@{/findMonument}" >Rechercher</a>
                <a class="dropdown-item" style="color: white;"th:href="@{/formMonument}" >Ajouter</a>
                <a class="dropdown-item" style="color: white;"th:href="@{/formMonumentDistance}" >Distance</a>
              </div>
           </li>
           
           
              <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown07XL" data-toggle="dropdown"
                aria-expanded="false" style="color: white;">  Celebrite</a>
              <div class="dropdown-menu" style="background-color:transparent"  aria-labelledby="dropdown07XL">
                <a class="dropdown-item" style="color: white;"th:href="@{/celebrites}"> Afficher</a>
                <a class="dropdown-item" style="color: white;"th:href="@{/findCelebrite}" >Rechercher</a>
                <a class="dropdown-item" style="color: white;"th:href="@{/formCelebrite}" >Ajouter</a>
              </div>
           </li>
           
      
              </li>
            </ul>
            </div>
            </nav>


    
    
    
    <div layout:fragment="content" class="noborder">
     
    <div class="flex-container container">
    
    
      <h1>Bienvenue sur APPTRAVEL </h1>
      <h2> Merci de vous identifiez</h2>
     
    </div>
    </div>
    
    
    
    
  </div>
  
<!-- <script src="js/quiz.js"></script> -->

      
<th:block th:fragment="scripts">
         <!-- Begin fragment="scripts" -->
       <script type="text/javascript" th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
         <script type="text/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js}"></script>
         <script type="text/javascript" th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
 
      </th:block>   
</body>
</html> 