<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<form th:action="@{editLieu/{codeInsee}(codeInsee=${lieu.codeInsee})}" th:object="${lieu}" method="post">
<label>Code insee</label>
<input type="text" name="codeInsee" th:field="*{codeInsee}"/>
<span th:if="${#fields.hasErrors('codeInsee')}" th:errors="*{codeInsee}"></span>

<label>Departement</label>
<input type="text" name="departement" th:field="*{dep}" />
<span th:if="${#fields.hasErrors('dep')}" th:errors="*{dep}"></span>

<label>Nom de la commune</label>
<input type="text" name="nomCom" th:field="*{nomCom}" />
<span th:if="${#fields.hasErrors('nomCom')}" th:errors="*{nomCom}"></span>

<label>Longitude</label>
<input type="text" name="longitude" th:field="*{longitude}"/>
<span th:if="${#fields.hasErrors('longitude')}" th:errors="*{longitude}"></span>

<label>Latitude</label>
<input type="text" name="latitude" th:field="*{latitude}"/>
<span th:if="${#fields.hasErrors('latitude')}" th:errors="*{latitude}"></span>


<input type="submit" value="valider" />
</form>

</body>
</html>