<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorator="navbar">
<head>
<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> 
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div layout:fragment="content" class="noborder">

<form th:action="@{editMonument/{codeM}(codeM=${monument.codeM})}" th:object="${monument}" method="post">
<label>Code </label>
<input type="text" name="codeM" th:field="*{codeM}"/>
<span th:if="${#fields.hasErrors('codeM')}" th:errors="*{codeM}"></span>

<label>nom</label>
<input type="text" name="nomM" th:field="*{nomM}" />
<span th:if="${#fields.hasErrors('nomM')}" th:errors="*{nomM}"></span>

<label>nom</label>
<input type="text" name="proprietaire" th:field="*{proprietaire}" />
<span th:if="${#fields.hasErrors('proprietaire')}" th:errors="*{proprietaire}"></span>

<label>type</label>
<input type="text" name="typeMonument" th:field="*{typeMonument}" />
<span th:if="${#fields.hasErrors('typeMonument')}" th:errors="*{typeMonument}"></span>

<label>Longitude</label>
<input type="text" name="longitude" th:field="*{longitude}"/>
<span th:if="${#fields.hasErrors('longitude')}" th:errors="*{longitude}"></span>

<label>Latitude</label>
<input type="text" name="latitude" th:field="*{latitude}"/>
<span th:if="${#fields.hasErrors('latitude')}" th:errors="*{latitude}"></span>

<label>localisation</label>
<input type="text" name="localisation" th:field="*{localisation}"/>
<span th:if="${#fields.hasErrors('localisation')}" th:errors="*{localisation}"></span>


<input type="submit" value="valider" />

</form>


</div>

<script th:replace="fragments :: scripts"></script>

</body>
</html>