<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorator="index">
<head>
<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> 
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>


<body>


<div layout:fragment="content" class="noborder">


<table class="table table-bordered table-dark">
<thead>
<tr>
<th>ID</th>
<th>Username</th>
<th>Email</th>
<th>Password</th>
<th>Enabled</th>
<th>Role</th>
</tr>
</thead>
<tbody >

<tr th:each="user:${users}" >
 <td th:text="${user.id}"></td>
 <td th:text="${user.username}"></td>
<td th:text="${user.email}"></td>
<td th:text="${user.password}" ></td>
<td th:text="${user.enabled}"></td>
<td th:text="${user.roles}"></td>
<td> <a onclick="return confirm('Etes vous sure ?')" th:href="@{/deleteUser(username=${user.username})}">Supprimer</a></td>



</tr>
</tbody>
</table>

</div>

<script th:replace="fragments :: scripts"></script>


</body>
</html>